<% provide(:title, "Topページ") %>
<div class ="top-header">
  <div class = "background-opacity">
    <div class ="header-top">
      <%= link_to image_tag("title.png"), "/",class: "title-image" %>
      <%= link_to "ログイン",login_path,method: :get,class: "btn login-btn" %>
      <%= link_to "サインアップ",signup_path,method: :get,class: "btn signup-btn" %>
      <%= react_component('MenuButton') %>
    </div>
    <div class = "header-main">
      <div class = "header-theme">
        <p class = "shall">Shall we use!!</p>
        <p class = "every">毎日をこれ１つで</p>
        <%= link_to "はじめる",signup_path,method: :get,class: "btn start-btn" %>
      </div>
    </div>
  </div>
</div>
<div class ="top-main">
  <div class ="main-feature">
    <div class ="feature">
      <div class ="feature-top" style="color:#69F18E;">
        <p>安定の使いやすさ</p>
      </div>
      <div class="feature-explain">
        <p>簡単登録・簡単編集・簡単削除が可能！</p>
      </div>
    </div>
    <div class ="feature">
      <div class ="feature-top"style="color:#F1E86E;">
        <p>シンプルな構造</p>
      </div>
      <div class="feature-explain">
        <p>見たらすぐに使い方がわかる設計！</p>
      </div>
    </div>
  </div>
  <div class = "main-imapct">
    <p class="smooth">スムーズな日々を送る</p>
    <p class = "sentence">毎日のTodoをここに書くだけ。どんなに忙しい日もここを見るだけ。
      <br>そうすればあなたは今まで以上に幸せな毎日を送ることができるでしょう。</p>
  </div>
  <div class = "main-lets">
    <div class ="lets-image">
      <%= image_tag 'list.png' %>
      <p>さぁ！始めてみよう</p>
    </div>
    <%= link_to "はじめる",signup_path,method: :get,class: "btn start-btn" %>
  </div>
</div>
<div class="top-footer">
  <div class="icon">
    <%= image_tag 'title.png',class: "title-image" %>
    <p style = "color: white;">こうきのTodo</p>
  </div>
</div>
