<% provide(:title, '登録ページ') %>
<%= link_to image_tag("title.png"), "/",class: "signup-image" %>
<div class="signup">
  <h1>サインアップ</h1>
  <div class="signup-form">
    <%= form_for(@user, url: signup_path) do |f| %>
      <div class="username">
        <%= f.label :"ユーザー名" %>
        <%= render 'shared/error_messages_name'%>
        <%= f.text_field :name, placeholder: "　ユーザー名を入力"%>
      </div>

      <div class="mailadress">
        <%= f.label :"メールアドレス"%>
        <%= render 'shared/error_messages_email' %>
        <%= f.email_field :email, placeholder: "　メールアドレスを入力" %>
      </div>

      <div class="pass">
        <%= f.label :"パスワード"%>
        <%= render 'shared/error_messages_password' %>
        <%= f.password_field :password, placeholder: "　パスワードを入力"  %>
      </div>

      <div class="passcon">
        <%= f.label :password_confirmation, "パスワード(確認用)"%>
        <%= render 'shared/error_messages_password_confirmation' %>
        <%= f.password_field :password_confirmation , placeholder: "　パスワード(確認用)を入力" %>
      </div>
  </div>
    <div class="finish">
      <%= f.submit "サインアップ", class: "btn" %>
    </div>
    <% end %>
  <div class ="line">
  </div>
  <div class="login-folow">
    <%= link_to "ログインはこちら",login_path,method: :get %>
  </div>
</div>
