<% provide(:title, 'Todo編集ページ') %>
<div class ="todo-new-header">
  <%= link_to image_tag("leftarrow.png"), @user ,method: :get,class: "arrow-image" %>
</div>

<div class="create-todo">
  <h1>Todoを編集する</h1>
  <div class="signup-form">
    <%= form_for(@todo) do |f| %>
    <%= render 'shared/error_messages_todo' %>
      <div class="username">
        <%= f.text_field :todo, placeholder: "例：ご飯を作る　今日　午後６時", class: "todo-input"%>
      </div>

  </div>
    <div class="finish">
      <%= f.submit "Todoを編集", class: "btn todo-btn" %>
    </div>
    <% end %>
</div>
